/*
 * = require bootstrap-min
 * = require bootstrap-theme.min
 * = require ladda
 * = require ladda-themed
 * = require_tree .
 *
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("glyphicons-halflings-regular.eot");
  src: url("glyphicons-halflings-regular.eot?#iefix")
    format('embedded-opentype'), url("glyphicons-halflings-regular.woff")
    format('woff'), url("glyphicons-halflings-regular.ttf")
    format('truetype'), url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
    format('svg');
}

